<link rel="stylesheet" href="/css/user_profile.css">


    
<% if(user.id==profile_user.id){ %>
    <img src="<%=user.avatar%>" alt="<%=user.name%>" width="100" id="profile_pic">
    <!-- if user matches then show the updation form otherwise just show profile info -->
    <form action="/users/update/<%=profile_user.id%>" method="POST" enctype="multipart/form-data"  >
        <input type="text" name="name" placeholder="Your Name" value="<%=profile_user.name%>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%=profile_user.email%>" required>
        
        <input type="file" name="avatar" placeholder="Profile Picture" id="inpFile">
        <input type="submit" value="UPDATE">
    </form>
<%}else{%>
    <p><%= profile_user.name%></p>
    <p><%= profile_user.email%></p>
<%}%>

<script>
    //for preview of file before upload
    const inpFile=document.getElementById('inpFile');
    const profile_pic=document.getElementById('profile_pic');
    inpFile.addEventListener("change",function(){
        const file=this.files[0];
        if(file)
        {
            // console.log("hello");
            const reader=new FileReader();
            reader.addEventListener("load",function(){
                profile_pic.setAttribute("src",this.result);
            });
            reader.readAsDataURL(file);
        }
    });
</script>